body {
  margin: 0;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* universal selectors  */
h1,
h2 {
  margin: 1rem 0rem 0rem 0rem;
  background-image: linear-gradient(45deg, #88f1e0, #02312b);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -10px;
  font-size: 3rem;
}

h3 {
  color: rgb(161, 167, 165);
}

/* Navigation Bar */

nav ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 1.3rem;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}

.menu {
  float: right;
}

/* Intro Section */
.intro {
  display: grid;
  column-gap: 10px;
  padding: 6rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.intro img {
  width: 100%;
  height: auto;
}

/* Education Section */
.education {
  font-size: 1.5rem;
  background: rgb(15, 15, 15);
  border-radius: 1em;
}

/* Footer Section */
footer {
  padding: 0.5rem;
}

.sub-intro,
.sub-footer,
.sub-myself {
  margin: 0rem 1rem 0rem 1rem;
}

.webpages {
  padding: 0.2rem 0 0 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

svg {
  fill: white;
}

.svg-rotate {
  transition: transform 1s;
}

.svg-rotate:hover {
  transform: rotate(1080deg);
}

footer {
  padding: 5em 5em 0.2em 5em;
}
.quote {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  border-radius: 1em;
  background-image: linear-gradient(45deg, #88f1e0, #02312b);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

figcaption {
  text-align: right;
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .intro {
    padding: 0.1rem;
    background-size: 35rem;
  }

  .name {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}
